<div [formGroup]="form" class="row pad-tb-20">
  <!-- Street Address -->
  <div class="col-xs-12 col-md-9">
    <label for="streetAddress" class="input-field-title">{{ 'business.details.title.address.streetAddress' | translate }}</label>
    <input id="streetAddress" class="form-control input-field-content" spellcheck="false" type="text" formControlName="streetAddress"
      (blur)="onBlur('streetAddress')">
    <div *ngIf="showErrors">
      <div *ngFor="let err of addressErrors.streetAddress" class="alert alert-danger">
        {{ 'business.details.errors.address.streetAddress.' + err | translate }}
      </div>
    </div>
  </div>
  <!-- Unit Number -->
  <div class="col-xs-12 col-md-3">
    <label for="unitNumber" class="input-field-title">{{ 'business.details.title.address.unitNumber' | translate }}</label>
    <input id="unitNumber" class="form-control input-field-content" spellcheck="false" type="text" formControlName="unitNumber">
  </div>
  <!-- City -->
  <div class="col-xs-12 col-md-4">
    <label for="city" class="input-field-title">{{ 'business.details.title.address.city' | translate }}</label>
    <input id="city" class="form-control input-field-content" spellcheck="false" type="text"
      formControlName="city" (blur)="onBlur('city')">
    <div *ngIf="showErrors">
      <div *ngFor="let err of addressErrors.city" class="alert alert-danger">
        {{ 'business.details.errors.address.city.' + err | translate }}
      </div>
    </div>
  </div>
  <!-- Province/ Territory -->
  <div class="col-xs-12 col-md-4">
    <label for="province" class="input-field-title">{{ 'business.details.title.address.province' | translate }}</label>
    <select id="province" class="form-control input-field-content" formControlName="province" (change)="onBlur('province')">
      <option disabled [selected]="!form.get('province').value">{{ 'form.dropdown.select' | translate }}</option>
      <option *ngFor="let opt of provinceOptions" [selected]="opt === form.get('province').value">{{opt}}</option>
    </select>
    <div *ngIf="showErrors">
      <div *ngFor="let err of addressErrors.province" class="alert alert-danger">
        {{ 'business.details.errors.address.province.' + err | translate }}
      </div>
    </div>
  </div>
  <!-- Postal Code -->
  <div class="col-xs-12 col-md-4">
    <label for="postalCode" class="input-field-title">{{ 'business.details.title.address.postalCode' | translate }}</label>
    <input id="postalCode" class="form-control input-field-content" spellcheck="false" type="text" formControlName="postalCode"
      (blur)="onBlur('postalCode')">
    <div *ngIf="showErrors">
      <div *ngFor="let err of addressErrors.postalCode" class="alert alert-danger">
        {{ 'business.details.errors.address.postalCode.' + err | translate }}
      </div>
    </div>
  </div>
  <!-- Country -->
  <!-- <div class="col-xs-12 col-md-4">
        <label for="country" class="input-field-title">{{ 'business.details.title.address.country' | translate }}</label>
        <input id="country" class="form-control input-field-content" spellcheck="false" type="text" formControlName="country">
        <div *ngIf="showErrors">
            <div *ngFor="let err of addressErrors.country" class="alert alert-danger">
                {{ 'business.details.errors.address.country.' + err | translate }}
            </div>
        </div>
    </div> -->
</div>