<div class="card-box">
  <div class="header font-style-1 font-regular">{{ data.header }}</div>
  <div class="content">
    <div>
      <div class="font-style-3 font-light  mr-b-10">{{ data.firstTitle }}</div>
      <div class="font-style-3 font-bold font-grey">{{ data.firstContent }}</div>
    </div>
    <div class="divider-hr"></div>
    <div class="row">
      <div class="col-xs-6">
        <div class="font-style-3 font-light  mr-b-10">{{ data.secondTitle }}</div>
        <div class="font-style-3 font-bold font-grey">{{ data.secondContent }}</div>
      </div>
      <div class="col-xs-6">
        <div class="font-style-3 font-light  mr-b-10">{{ data.thirdTitle }}</div>
        <div class="font-style-3 font-bold font-grey">{{ data.thirdContent }}</div>
      </div>
    </div>
  </div>
</div>